DISCORD_TOKEN=replace-me
DISCORD_APPLICATION_ID=replace-me
DISCORD_GUILD_ID=replace-me
DISCORD_SYNC_COMMANDS=true
DATABASE_HOST=10.42.20.10
DATABASE_PORT=3306
DATABASE_USERNAME=salada
DATABASE_PASSWORD=replace-me
DATABASE_NAME=salada
DATABASE_MAX_OPEN_CONNECTIONS=5
DATABASE_MAX_IDLE_CONNECTIONS=2
DATABASE_CONNECTION_MAX_LIFETIME=30m
MIGRATIONS_PATH=/app/migrations
LOG_LEVEL=info
