bucket              = "replace-with-bootstrap-bucket-output"
namespace           = "replace-with-bootstrap-namespace-output"
key                 = "production/terraform.tfstate"
region              = "us-ashburn-1"
auth                = "APIKey"
config_file_profile = "DEFAULT"
