tenancy_ocid = "ocid1.tenancy.oc1..replace-me"
compartment_ocid = "ocid1.compartment.oc1..replace-me"
region = "us-ashburn-1"
availability_domain_number = 3

admin_cidr     = "203.0.113.10/32"
ssh_public_key = "ssh-ed25519 replace-me"

mysql_admin_username = "salada_admin"
mysql_admin_password = "Replace-Me_123!"
mysql_database_name = "salada"
